body {
    padding: 0;
    margin: 0;
    background-color: #4C474A;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 80px;
    background: #000000e0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 120%;
    padding: 0 12px;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    z-index: 3;
}

a,
a:visited,
a:hover
{
    color: white;
    text-decoration: none;
}

.header a {
    padding: 0 12px;
}

.splash {
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-column-gap: 20px;
    color: white;
    padding: 1em 1.6em;
    line-height: 2em;
    position: fixed;
    width: 100%;
    height: 88%;
    z-index: 1;
    overflow: hidden;
}

.splash-wrapper {
    display: flex;
    align-items: row;
}

.splash-content {
    margin: auto;
}

.splash-head, .splash-subhead {
    text-transform: uppercase;
}

.splash-head {
    font-size: 300%;
    font-weight: 200;
}

.splash-subhead {
    font-size: 100%;
    font-weight: 200;
}

.splash .photo {
    margin: auto;
    margin-left: 500px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    /* text-align: center; */
    top: 87%;
    position: absolute;
    z-index: 2;
    width: 100%;
    background: white;
}

.text-wrapper {
    max-width: 500px;
    margin: auto;
}

.bio {
    background-color: white;
    color: #090809;
    padding: 24px;
}

.research {
    background-color: #090809;
    color: #aaa;
    margin: 12px;
    padding: 12px;
}

.teaching {
    background-color: white;
    color: #090809;
    padding: 24px;
}

.links {
    background-color: #090809;
    color: #aaa;
    margin: 12px;
    padding: 12px;
}
