/** media query for small screens **/
@media only screen and (max-width: 1200px) {
    .splash {
        grid-template-columns: 1fr;
        padding: 0;
        text-align: center;
        .photo {
            margin: auto;
            margin-top: 100px;
        }
        .content {
            justify-self: center;
            padding: 20px;
        }
        .contacts {
            justify-content: center;
        }

        .wrapper {
            grid-template-columns: 1fr;
        }
        .wrapper > div {
            justify-self: center;
            width: 100%;
        }
        span.section {
            display: none;
        }
    }
}

