{% extends "base.html" %}

{% block content %}
<div class="wrapper">
    <div class="section light">
        <div class="text-wrapper research">
            AAAAAAA
            {% for post in section.pages %}
            AAAAAAA
            {{ post.content | safe }}
            {% endfor %}
        </div>
    </div>
    <div class="section dark">
        <div class="canvas-wrapper">
            <canvas></canvas>
            <script src={{ get_url(path="simulation.js") }}></script>
        </div>
    </div>
</div>
{% endblock %}

